<div align='center'><h1>quick MRZ thing test</h1></div>

<!--<div>-->
<!--  <table class="table" style="width: 80%">-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Email</th>-->
<!--      <th></th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let user of users">-->
<!--      <td>-->
<!--        {{user.name}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{user.email}}-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
<!--<div>-->
<!--  <p>-->
<!--    <button (click)="addUser()">Add User</button>-->
<!--  </p>-->
<!--</div>-->
  <p>
    <button (click)="gotomrzs()">MRZ test</button>
  </p>
<p>
  <button (click)="gotofileupload()">'Scan' thingy with the python library</button>
</p>

<p>
  <button (click)="gotoanyline()">Try with anyline</button>
</p>


<div id="rooti" style="height:500px;width:600px">kojones</div>


<router-outlet></router-outlet>
