itxoin...
<div *ngIf="mrz">
  <p>Last name: {{mrz.last_name}}</p>
  <p>First name: {{mrz.first_name}}</p>
  <p>Country code: {{mrz.country_code}}</p>
  <p>Country: {{mrz.country}}</p>
  <p>Nationality: {{mrz.nationality}}</p>
  <p>Number: {{mrz.number}}</p>
  <p>Sex: {{mrz.sex}}</p>
  <p>Raw data: {{mrz.raw_text}}</p>
  <p>Valid score: {{mrz.valid_score}}</p>
</div>
<div *ngIf="mrz" class="col-md-6 user-container">
<!--  <h2 class="text-center">MRZ thing</h2>-->
<!--  <form [formGroup]="mrzForm" (ngSubmit)="onSubmit()">-->

<!--    <div class="form-group">-->
<!--      <label for="lastName">Last name:</label>-->
<!--      <input type="text" formControlName="lastName" placeholder="lastName" name="lastName" class="form-control"-->
<!--             id="lastName">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <label for="firstName">First name:</label>-->
<!--      <input type="text" formControlName="firstName" placeholder="firstName" name="firstName" class="form-control"-->
<!--             id="firstName">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <label for="countryCode">Country code:</label>-->
<!--      <input type="text" formControlName="countryCode" placeholder="countryCode" name="countryCode" class="form-control"-->
<!--             id="countryCode">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <label for="country">Country:</label>-->
<!--      <input type="text" formControlName="country" placeholder="country" name="country" class="form-control"-->
<!--             id="country">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <label for="nationality">Nationality:</label>-->
<!--      <input type="text" formControlName="nationality" placeholder="nationality" name="nationality" class="form-control"-->
<!--             id="nationality">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <label for="number">Number:</label>-->
<!--      <input type="text" formControlName="number" placeholder="number" name="number" class="form-control"-->
<!--             id="number">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <label for="sex">Sex:</label>-->
<!--      <input type="text" formControlName="sex" placeholder="sex" name="sex" class="form-control"-->
<!--             id="sex">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <label for="rawText">Raw text:</label>-->
<!--      <input type="text" formControlName="rawText" placeholder="{{mrz}}" name="rawText" class="form-control"-->
<!--             id="rawText">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <div class="form-group">-->
<!--      <label for="validScore">Valid score:</label>-->
<!--      <input type="text" formControlName="validScore" placeholder="validScore" name="validScore" class="form-control"-->
<!--             id="validScore">-->
<!--    </div>-->


<!--    <br/>-->
<!--    <button class="btn btn-success">Submit</button>-->
<!--    <button class="btn btn-success">Amend</button>-->
<!--  </form>-->
</div>
